
@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
        @content;
    }
  }
  @mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;
    }
  }
  
  $tablet-breakpoint: 768px;
  $desktop-breakpoint: 1280px;

.video {
    height: 15rem;
    width: 40rem;
   
}

.div__mainvideo {

    @include tablet {}

    @include desktop {
        justify-content: center;
        align-items: center;
        position: relative;
    }
}

.mainVideo {
  
    height: 100%;
    width:100%;
    margin-bottom: -1rem;

    @include tablet {
        margin-top: -5rem;
      height: 80vh;
      margin-bottom: 2rem;
      
    }

    @include desktop {
        width: 75%;
        margin-bottom: 2rem;
  margin-left: 11rem;
 
        
        
        
    }
    
}





source.currentVideo__Img {
    height: 5rem;
    width:40rem;
}



.Video {
    width: 200vw;
    height: 20vh;
    z-index: 1000%;
}

//affects videolist component
// .video {
//     width: 1rem;
//     height: 1rem;
// }

.VIDEO {
    width: 3rem;
    height: 3rem;
}


h1 {
    margin-top: 3rem;
    border-bottom: 2px solid #E1E1E1;
    padding-bottom: 2rem;

    @include tablet {
     
        border-bottom: initial;
       
    }

    @include desktop {
  
    }
}

.parent__videoInfo {
  
    
}



.video__ChannelName {
    padding-top: 0rem;
    color: #323232;
    font-weight: 600;
    font-size: 1.2rem;
    width: 100%;
    padding-left: 3rem;
    margin-top: 0.4rem;
    margin-left: 0.8rem;

    @include tablet {
//margin: auto;
position: relative;
bottom: -1.9rem;


    }

    @include desktop {
        font-size: 0.8rem;
        bottom: -1.6rem;
    }
}

.div__Title {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-weight: 900;
   


   @include tablet {
    margin-top: 3rem;
   }

   @include desktop {
    margin-top: -2rem;
    margin-bottom: -6rem;
  
    padding-top: 5.9rem;

   }
}

.video__Title {


    border-bottom: 2px solid #E1E1E1;
 

   @include tablet {
    border-bottom: initial;
    margin-bottom: -0.1rem;
  
   }

   @include desktop {
    margin-top: initial;
    margin-top: -3rem;
    margin-left: 1rem;
    font-size: 1.8rem;
   }
}

.video__Description {
    border-top: 2px solid #E1E1E1;
    padding-top: 2rem;
    
}



.div__Views {
display: flex;
flex-direction: row; 


}

.video__Views {
margin-right: 6rem;
}

.img__Views {
    margin-top: 0.8rem;
    height: 3vh;
    width: 5vw;
   margin-left: 1vw;
   margin-right: 2vw;

   @include tablet {
    margin-right: 0.1rem;
   }

   @include desktop {
    height: 2vh;
    width: 3vw;
   }
   
}



.div__Likes {
    display: flex;
    flex-direction: row;
   margin-top: -3rem;
   padding-bottom: 1rem;
   padding-left: 4.5rem;

   @include desktop {
    // margin-bottom: initial;
    // margin-bottom: 1rem;
   }
 
}





.video__Likes {
    //padding-bottom: 1rem;
    margin-right: -2rem;
      
}

.img__Likes {
    height: 3vh;
    width: 4vw;
    margin-top: 0.9rem;
    margin-right: 0.8rem;
    
    @include tablet {
        margin-right: 0.1rem;
    }

    @include desktop {
        height: 2vh;
    width: 2vw;
    }

}



.div__videoInfo {
    display: flex;
 
    color: #AFAFAF;
   justify-content: space-between;
   margin: -3rem;
   margin-bottom: -4rem;
   padding-bottom: 2rem;
   padding-top: 2rem;

   @include tablet {
    padding-top: initial;
    justify-content: space-between;
   }

   @include desktop {
    margin-top: 4rem;
    font-size: 0.8rem;
    margin-bottom: -5rem;
    
  
   }

}

.video__ChannelName {

    @include tablet {
        margin-left: 1rem;
     
    }
}

.div__Likes, .video__Timestamp {
  
   margin: 1rem;

    @include tablet {
        margin-right: 9rem;
    }
}

.div__Views {

    @include tablet {margin-top: 1.1rem;
    margin-right: -5rem;
    position: relative;
    }
}

.video__Timestamp {
 
 @include tablet {   
    position: absolute; 
    left: 9rem;
 }

 @include desktop {
    top: 36.6rem;
    
 }
} 



.video__Timestamp {
    margin-top: 2.5rem;
    margin-left: 4rem;
}

.left-stack {
display: flex; 
flex-direction: column;
margin: 8px 0; 

@include tablet {
    flex-direction: row;
    width: 40%;
    
}

@include desktop {
    font-size: 0.8rem;
}

}

.right-stack {
    display: flex; 
    flex-direction: column;
    margin: 8px 0; 

    @include tablet {
        flex-direction: row;
        margin-left: auto;
    }

    @include desktop {
        font-size: 0.8rem;
    }

}


.video__Description {
    @include desktop {
        font-size: 0.7rem;
        line-height: 1.2rem;
    }
}


.video__Background {
    background-color: black;
}

.currentVideo__Img, .div__MainVideo {
 
    height: 10rem;
   width: 60vw;

   @include tablet {
 height: 5rem;
 width: 1rem;
   }
}

.parent__videoInfo {

    @include desktop {
        width: 50%;
    }
}
    